.mat-elevation-z8 {

    .col-course {
        width: 40%;
    }

    .course-info {
        gap: 20px;

        img {
            width: 100px;
        }
        a {
            font-size: 16px;
            font-weight: 500;
            cursor: pointer;
            white-space: normal !important;
            text-align: left;
        }
    }
}

.title  {
    margin-bottom: 15px;
}

.tagus-search-box {
    margin-bottom: 15px;
}