
        <div class="container">
            <!-- Header Section -->
            <div class="header mb-2">
                <div class="d-flex align-items-center justify-content-between">
                    <div>
                        <h1 class="title mb-2">{{ 'system.user.title' | translate }}</h1>
                    </div>
                    @if (authService.isAdmin() || authService.isPermissionGranted(permissions.ACCOUNT_CREATE)) {
                    <div class="action-buttons">
                        <button mat-flat-button color="primary" class="btn-primary-flat" (click)="onCreateUser()">
                            <mat-icon>add</mat-icon>
                            {{ 'common.create' | translate }}
                        </button>
                    </div>
                    }
                </div>
            </div>
        
            <!-- Filters Section -->
            <div class="wrapper-card">
                <div class="row mb-3">
                    <div class="col-12">
                        <h4 class="title">{{ 'system.user.list' | translate }}</h4>
                        <generic-filter   
                            [config]="userFilterConfig"
                            [isSearchLoading]="isLoadingFilter"
                            [initialValues]="initialUserFilterValues"
                            (applyFilters)="onApplyFilters($event)"
                            (clearFilters)="onClearFilters()">
                        </generic-filter>
                    </div>
                </div>
                    
                <div class="row mb-4">
                    <div class="col-12">
                        <generic-table
                            [dataSource]="rows"
                            [config]="userTableConfig"
                            [loading]="loading"
                            [totalItems]="total"
                            [currentPage]="page"
                            [totalPages]="totalPages"
                            [pageSize]="size"
                            (pageChange)="onPageChange($event)"
                            (pageSizeChange)="onPageSizeChange($event)"
                            (statusToggle)="onStatusToggle($event.item, $event.event)"
                            >
                        </generic-table>
                    </div>
                </div>
            </div>
        </div>

