<mat-card
    class="tagus-card mb-25"
>
    <div class="row justify-content-between">
        <div class="col-md-8 learn-main">
            <div class="course-details-header mb-25 border-radius ">
                <video controls class="border-radius">
                    <source src="img/video.mp4" class="border-radius" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
                <div class="position-relative">
                    <div class="d-md-flex mb-25 align-items-center">
                        <!-- <img src="img/lms/lms1.jpg" class="border-radius" width="100" alt="lms"> -->
                        <h3 class="mb-0 ms-20 text-white">Node.js for Beginners: Go From Zero to Hero with Node.js</h3>
                    </div>
                    <p class="text-white">Node.js for Beginners: Alias animi labque, deserunt distinctio eum excepturi fuga iure labore magni molestias mollitia natus, officia pofro quis sunt temporibus veritatis voluptatem voluptatum.</p>
                    <!-- <a mat-raised-button routerLink="/" class="tagus mt-10">Next Tutorial</a>/ -->
                    <span class="time text-white d-block fw-bold">50m:30s</span>
                </div>
            </div>
            <div class="course-details-desc pb-0">
                <div class="d-md-flex meta border-none justify-content-space-between align-items-center">
                    <ul class="list mb-0 d-md-flex mt-0 ps-0">
                        <li class="gray-color fw-semibold">
                            Course For
                            <span class="d-block fw-semibold position-relative"><i class="ri-bar-chart-2-line"></i> Beginner</span>
                        </li>
                        <li class="gray-color fw-semibold">
                            Intructor
                            <div class="d-flex align-items-center">
                                <img src="img/user/user2.jpg" class="rounded-circle" width="30" alt="user">
                                <span class="d-block fw-semibold">Jonathan Andrews</span>
                            </div>
                        </li>
                        <li class="gray-color fw-semibold">
                            Course Duration
                            <span class="d-block fw-semibold position-relative"><i class="ri-time-line"></i> 32h 50m</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="course-details-desc">
                <mat-accordion multi>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Course Overview
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <ul class="mb-0 mt-0 ps-0 content-list">
                            <li>
                                <a routerLink="/course/learn/1" class="d-flex align-items-center justify-content-space-between">
                                    <span class="d-block gray-color fw-medium position-relative"><i class="ri-checkbox-circle-fill" style="color: green;"></i> Introduction to Node.js </span>
                                    <span class="d-block gray-color fw-medium">20m 15s</span>
                                </a>
                            </li>
                            <li>
                                <a routerLink="/course/learn/2" class="d-flex align-items-center justify-content-space-between">
                                    <span class="d-block gray-color fw-medium position-relative"><i class="ri-play-circle-line"></i> Introduction to Node.js</span>
                                    <span class="d-block gray-color fw-medium">20m 15s</span>
                                </a>
                            </li>
                            <li class="disabled-link">
                                <a routerLink="/course/learn/3" class="d-flex align-items-center justify-content-space-between">
                                    <span class="d-block gray-color fw-medium position-relative"><i class="ri-git-repository-private-fill" style="color: black;"></i> Introduction to Node.js</span>
                                    <span class="d-block gray-color fw-medium">20m 15s</span>
                                </a>
                            </li>
                        </ul>
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Getting Started with Node.js
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <ul class="mb-0 mt-0 ps-0 content-list">
                            <li class="disabled-link">
                                <a routerLink="/course/learn/3" class="d-flex align-items-center justify-content-space-between">
                                    <span class="d-block gray-color fw-medium position-relative"><i class="ri-git-repository-private-fill" style="color: black;"></i> Introduction to Node.js</span>
                                    <span class="d-block gray-color fw-medium">20m 15s</span>
                                </a>
                            </li>
                        </ul>
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Creating And Communication Between Angular Node.js
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <ul class="mb-0 mt-0 ps-0 content-list">
                            <li class="disabled-link">
                                <a routerLink="/course/learn/3" class="d-flex align-items-center justify-content-space-between">
                                    <span class="d-block gray-color fw-medium position-relative"><i class="ri-git-repository-private-fill" style="color: black;"></i> Introduction to Node.js</span>
                                    <span class="d-block gray-color fw-medium">20m 15s</span>
                                </a>
                            </li>
                        </ul>
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Exploring The Node.js Template Syntax
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <ul class="mb-0 mt-0 ps-0 content-list">
                            <li class="disabled-link">
                                <a routerLink="/course/learn/3" class="d-flex align-items-center justify-content-space-between">
                                    <span class="d-block gray-color fw-medium position-relative"><i class="ri-git-repository-private-fill" style="color: black;"></i> Introduction to Node.js</span>
                                    <span class="d-block gray-color fw-medium">20m 15s</span>
                                </a>
                            </li>
                        </ul>
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Final Quiz
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <ul class="mb-0 mt-0 ps-0 content-list">
                            <li class="disabled-link">
                                <a routerLink="/final-quiz/9" class="d-flex align-items-center justify-content-space-between">
                                    <span class="d-block gray-color fw-medium position-relative"><i class="ri-star-line"></i> Quiz: Getting Started with Node.js</span>
                                    <span class="d-block gray-color fw-medium">45m</span>
                                </a>
                            </li>
                        </ul>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
        </div>
    </div>
    
    
</mat-card>
