// Some CSS is Available on the Style.scss file because of Angular Material CSS didn't work in Component CSS.
.tagus-card {
    margin: auto;
}

.course-details-header {
    padding: 25px;
    background-color: var(--heraBlueColor);
    margin: {
        top: -25px;
        left: -25px;
        right: -25px;
    };
    video {
        width: 100%;
        height: auto;
        margin-bottom: 40px;
    }
    h3 {
        font-size: 28px;
        max-width: 510px;
    }
    p {
        max-width: 920px;
    }
    .tagus {
        font-weight: 600 !important;
        box-shadow: unset !important;
        color: var(--heraBlueColor) !important;
        background-color: var(--whiteColor) !important;
    }
    .time {
        top: 0;
        right: 0;
        font-size: 24px;
        position: absolute;
    }
}
.course-details-desc {
    overflow-y: auto;
    max-height: calc(100vh - 200px);
    padding: {
        left: 25px;
        right: 25px;
        bottom: 25px;
    };
    .meta {
        border-bottom: 1px solid #F7FAFF;

        .list {
            list-style-type: none;
    
            li {
                margin-right: 50px;
                position: relative;
                padding-left: 50px;
    
                span {
                    margin-top: 18px;
                    padding-left: 30px;
                    color: var(--blackColor);
                    font: {
                        family: var(--headingFontFamily);
                        size: 16px;
                    };
                    i {
                        left: 0;
                        top: 50%;
                        line-height: 1;
                        position: absolute;
                        transform: translateY(-50%);
                        color: var(--heraBlueColor);
                        font: {
                            size: 22px;
                            weight: normal;
                        };
                    }
                }
                .d-flex {
                    margin-top: 9px;
    
                    span {
                        margin-top: 0;
                        padding-left: 10px;
                    }
                }
                &::before {
                    left: 0;
                    top: 50%;
                    bottom: 0;
                    width: 1px;
                    content: '';
                    position: absolute;
                    background: #E7EBF5;
                    transform: translateY(-50%);
                }
                &:first-child {
                    padding-left: 0;
    
                    span {
                        i {
                            margin-top: -1px;
                        }
                    }
                    &::before {
                        display: none;
                    }
                }
                &:last-child {
                    margin-right: 0;
                }
            }
        }
        .rating-box {
            .rating {
                i {
                    margin-right: 5px;
                    color: #FFBC2B;
                    font-size: 18px;
                    line-height: 1;

                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
        }
    }
    .td-checkbox {
        font-size: 14px;
        margin-bottom: 12px;

        .minus-margin {
            margin: 0 -2px 0 -10px;
        }
    }
}
.btn-box {
    button, a {
        padding: 10px 18px 11px !important;
        font: {
            weight: 600 !important;
            size: 14px !important;
        };
    }
    a {
        margin-right: 8px;
    }
    button {
        margin-left: 8px;
    }
}
.component-dark-theme {
    .course-details-desc {
        .meta {
            border-bottom-color: #1f2226;
    
            .list {
                li {
                    span {
                        color: var(--whiteColor);
                    }
                    &::before {
                        background: #1f2226;
                    }
                }
            }
        }
    }
}
.card-border-radius {
    .course-details-header {
        border-radius: 0 !important;

        video {
            border-radius: 0 !important;
        }
    }
}
.component-rtl-enabled {
    .course-details-header {
        .time {
            right: auto;
            left: 0;
        }
    }
    .course-details-desc {
        .meta {
            .list {
                li {
                    padding: {
                        left: 0;
                        right: 50px;
                    };
                    margin: {
                        left: 50px;
                        right: 0;
                    };
                    span {
                        padding: {
                            left: 0;
                            right: 30px;
                        };
                        i {
                            left: auto;
                            right: 0;
                        }
                    }
                    .d-flex {
                        span {
                            padding: {
                                left: 0;
                                right: 10px;
                            };
                        }
                    }
                    &::before {
                        left: auto;
                        right: 0;
                    }
                    &:first-child {
                        padding-right: 0;
                    }
                    &:last-child {
                        margin-left: 0;
                    }
                }
            }
        }
        .td-checkbox {
            .minus-margin {
                margin: {
                    left: 10px;
                    right: -10px;
                };
            }
        }
    }
    .btn-box {
        a {
            margin: {
                right: 0;
                left: 8px;
            };
        }
        button {
            margin: {
                left: 0;
                right: 8px;
            };
        }
    }
}

@media only screen and (max-width : 767px) {

    .course-details-header {
        padding: 20px;
        margin: {
            top: -15px;
            left: -15px;
            right: -15px;
        };
        video {
            margin-bottom: 20px;
        }
        h3 {
            line-height: 1.3;
            font-size: 18px;
            max-width: 100%;
            margin: {
                left: 0 !important;
                top: 15px;
            };
        }
        p {
            max-width: 100%;
        }
        .time {
            font-size: 18px;
        }
    }
    .course-details-desc {
        padding: {
            left: 0;
            right: 0;
            bottom: 0;
        };
        .meta {
            .list {
                li {
                    padding-left: 0;
                    margin: {
                        top: 15px;
                        right: 0;
                    };
                    span {
                        margin-top: 10px;
                        padding-left: 27px;
                        font: {
                            size: 15px;
                        };
                        i {
                            font: {
                                size: 20px;
                            };
                        }
                    }
                    .d-flex {
                        margin-top: 8px;
                    }
                    &:first-child {
                        margin-top: 0;
                    }
                    &::before {
                        display: none;
                    }
                }
            }
            .rating-box {
                text-align: start !important;
                margin-top: 15px;

                .rating {
                    i {
                        font-size: 15px;
                    }
                }
            }
        }
    }
    .content {
        margin-top: 15px;
    }
    .component-rtl-enabled {
        .course-details-desc {
            .meta {
                .list {
                    li {
                        padding-right: 0;
                        margin: {
                            left: 0;
                        };
                        span {
                            padding: {
                                left: 0;
                                right: 27px;
                            };
                        }
                    }
                }
            }
        }
    }

}

@media only screen and (min-width : 768px) and (max-width : 991px) {

    .course-details-header {
        margin: {
            top: -20px;
            left: -20px;
            right: -20px;
        };
        video {
            margin-bottom: 30px;
        }
        h3 {
            max-width: 100%;
        }
        p {
            max-width: 100%;
        }
        .time {
            margin-top: 25px;
            position: relative;
        }
    }
    .course-details-desc {
        .meta {
            .list {
                li {
                    margin-right: 15px;
                    padding-left: 15px;
                }
            }
        }
    }
    .component-rtl-enabled {
        .course-details-desc {
            .meta {
                .list {
                    li {
                        margin: {
                            right: 0;
                            left: 15px;
                        };
                        padding: {
                            left: 10px;
                            right: 15px;
                        };
                    }
                }
            }
        }
    }

}

.mat-mdc-card {
    padding-right: 0;
}

.disabled-link {
  pointer-events: none;
  opacity: 0.5;
  cursor: not-allowed;
}

ul {
    li {
        a {
            font-size: 14px;
            span {
                i {
                    font-size: 15px !important;
                }
            }
            i {
                font-size: 15px !important;
            }
        }
        
    }
}