<div
    [ngClass]="{'blank-page': router.url === '/error-500' || router.url === '/authentication/reset-password' || router.url === '/authentication/forgot-password' || router.url === '/authentication' || router.url === '/authentication/register' || router.url === '/authentication/signin-signup' || router.url === '/authentication/logout' || router.url === '/authentication/confirm-mail' || router.url === '/authentication/lock-screen' || router.url === '/coming-soon'}"
>
    <app-sidebar-manager />
    <div
        class="main-content d-flex flex-column"
        [ngClass]="{'active': isToggled}"
    >
        <app-header-manager />
        <router-outlet />
        <div class="flex-grow-1"></div>
        <app-footer />
    </div>
</div>