<div class="container list">
    <!-- Header Section -->
    <div class="header mb-2">
        <div class="d-flex align-items-center justify-content-between">
            <div>
                <h1 class="title mb-2">{{ 'system.document.title' | translate }}</h1>
            </div>

            <div class="action-buttons">
                @if (authService.isPermissionGranted(permissions.CONFIG_CREATE)) {
                <button mat-flat-button color="primary" class="btn-primary-flat" (click)="onNewDocument()">
                    <mat-icon>add</mat-icon>
                        {{ 'common.create' | translate }}
                    </button>
                }
            </div>

        </div>
    </div>

    <!-- Filters Section -->
    <div class="wrapper-card">
        <div class="row mb-3">
            <div class="col-12">
                <h4 class="title">{{ 'system.document.list' | translate }}</h4>
                <generic-filter   
                    [config]="documentFilterConfig"
                    [isSearchLoading]="loadingDocumentFilter"
                    (applyFilters)="onApplyDocumentFilters($event)"
                    (clearFilters)="onClearDocumentFilters()">
                </generic-filter>
            </div>
        </div>
            
        <div class="row mb-4">
            <div class="col-12">
                <generic-table
                    [dataSource]="documents"
                    [config]="documentTableConfig"
                    [loading]="loadingDocument"
                    [totalItems]="totalDocument"
                    [currentPage]="pageDocument"
                    [totalPages]="totalPagesDocument"
                    [pageSize]="sizeDocument"
                    (pageChange)="onPageDocumentChange($event)"
                    (pageSizeChange)="onPageSizeDocumentChange($event)"
                    >
                </generic-table>
            </div>
        </div>
    </div>
</div>