<div class="title">
    <h5>Employee Count</h5>
    <mat-form-field appearance="outline" class="">
        <mat-label>Year</mat-label>
        <mat-select [(ngModel)]="selectedYear" (ngModelChange)="onYearChange()">
            @for (year of years; track $index) {
                <mat-option [value]="year">
                    {{year}}
                </mat-option>
            }
        </mat-select>
    </mat-form-field>
</div>
<div class="row">
<div class="col-6">
<div class="chart bg-white">
    <h5>Employee Count</h5>
    <apx-chart
        [series]="chartOptionsUsers.series!"
        [chart]="chartOptionsUsers.chart!"
        [dataLabels]="chartOptionsUsers.dataLabels!"
        [plotOptions]="chartOptionsUsers.plotOptions!"
        [yaxis]="chartOptionsUsers.yaxis!"
        [xaxis]="chartOptionsUsers.xaxis!"
        [stroke]="chartOptionsUsers.stroke!"
        [grid]="chartOptionsUsers.grid!"
        [fill]="chartOptionsUsers.fill!"
        [annotations]="chartOptionsUsers.annotations!"
    ></apx-chart>
</div>
</div>
<div class="col-6">
<div class="chart">
    <h5>Enrollment Count</h5>
    <apx-chart
        [series]="chartOptionsEnrollment.series!"
        [chart]="chartOptionsEnrollment.chart!"
        [xaxis]="chartOptionsEnrollment.xaxis!"
        [dataLabels]="chartOptionsEnrollment.dataLabels!"
        [grid]="chartOptionsEnrollment.grid!"
        [yaxis]="chartOptionsEnrollment.yaxis!"
        [stroke]="chartOptionsEnrollment.stroke!"
        [title]="chartOptionsEnrollment.title!"
          [colors]="chartOptionsEnrollment.colors!"
      ></apx-chart>
    </div>
</div>
</div>

<div class="d-flex gap-20">
    <div class="c-6 bg-white">
        <h5>Course Type Distribution</h5>
        <div class="chart-pie">
            <apx-chart
                [series]="chartOptionsCourseType.series!"
                [legend]="chartOptionsCourseType.legend!"
                [chart]="chartOptionsCourseType.chart!"
                [tooltip]="chartOptionsCourseType.tooltip!"
                [dataLabels]="chartOptionsCourseType.dataLabels!"
                [stroke]="chartOptionsCourseType.stroke!"
                [colors]="chartOptionsCourseType.colors!"
                [labels]="chartOptionsCourseType.labels!"
                [responsive]="chartOptionsCourseType.responsive!"
            ></apx-chart>
        </div>
    </div>
    <div class="c-6 bg-white ">
        <h5>Course Type Distribution</h5>
        <div class="chart-pie">
            <apx-chart
                [series]="chartOptionsStatusDistribution.series!"
                [chart]="chartOptionsStatusDistribution.chart!"
                [plotOptions]="chartOptionsStatusDistribution.plotOptions!"
                [labels]="chartOptionsStatusDistribution.labels!"
                [legend]="chartOptionsStatusDistribution.legend!"
                [colors]="chartOptionsStatusDistribution.colors!"
            ></apx-chart>
        </div>
    </div>
</div>
