.chart {
  background-color: var(--whiteColor);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  width:100% !important;
  max-width: 100% !important;
  display: flex;
  flex-direction: column;
  gap: 20px;
  transition: all 0.3s ease !important;
  overflow: hidden;
}

.chart-pie {
  padding: 5px 10% 0;
  
}

.gap-20 {
  gap: 20px;
}

.c-6 {
  width: 50%;
  height: auto !important;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  width:100% !important;
  max-width: 100% !important;
}

.d-flex {
  align-items: stretch;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  background-color: var(--whiteColor);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

:host ::ng-deep .apexcharts-canvas {
  width: 100% !important;
  transition: all 0.3s ease !important;
}
