<div class="container list">
    <!-- Header Section -->
    <div class="header mb-2">
        <div class="d-flex align-items-center justify-content-between">
            <div>
                <h1 class="title mb-2">{{ 'system.help.title' | translate }}</h1>
            </div>

            <div class="action-buttons">
                <button mat-flat-button color="primary" class="btn-primary-flat" (click)="onNewHelp()">
                    <mat-icon>add</mat-icon>
                    {{ 'common.create' | translate }}
                </button>
            </div>

        </div>
    </div>

    <!-- Filters Section -->
    <div class="wrapper-card">
        <div class="row mb-3">
            <div class="col-12">
                <h4 class="title">{{ 'system.help.list' | translate }}</h4>
            </div>
        </div>
            
        <div class="row mb-4">
            <div class="col-12">
                <generic-table
                    [dataSource]="helps"
                    [config]="helpTableConfig"
                    [loading]="loadingHelp"
                    >
                </generic-table>
            </div>
        </div>
    </div>
</div>