<div class="row">
    <div class="col-md-3">
        <mat-card class="single-stats-box tagus-card mb-25">
            <div class="d-flex justify-content-space-between align-items-center">
                <div class="title">
                    <h3>{{ data?.totalEmployees || 0 }}</h3>
                    <span class="d-block gray-color">Total Employees</span>
                </div>
                <div class="icon">
                    <i class="flaticon-people"></i>
                </div>
            </div>
            <!-- <p class="position-relative up"><i class="flaticon-trend"></i> <span>1.3%</span> Up from past week</p> -->
        </mat-card>
    </div>
    <div class="col-md-3">
        <mat-card class="single-stats-box tagus-card mb-25">
            <div class="d-flex justify-content-space-between align-items-center">
                <div class="title">
                    <h3>{{ data?.totalCourses || 0 }}</h3>
                    <span class="d-block gray-color">Total Courses</span>
                </div>
                <div class="icon">
                    <i class="flaticon-goal"></i>
                </div>
            </div>
            <!-- <p class="position-relative up"><i class="flaticon-trend"></i> <span>0.5%</span> Up from past week</p> -->
        </mat-card>
    </div>
    <div class="col-md-3">
        <mat-card class="single-stats-box tagus-card mb-25">
            <div class="d-flex justify-content-space-between align-items-center">
                <div class="title">
                    <h3>{{ data?.totalLearningPaths || 0 }}</h3>
                    <span class="d-block gray-color">Total Learning Paths</span>
                </div>
                <div class="icon">
                    <i class="flaticon-analytics"></i>
                </div>
            </div>
            <!-- <p class="position-relative up"><i class="flaticon-trend"></i> <span>0.5%</span> Up from past week</p> -->
        </mat-card>
    </div>
    <div class="col-md-3">
        <mat-card class="single-stats-box tagus-card mb-25">
            <div class="d-flex justify-content-space-between align-items-center">
                <div class="title">
                    <h3>{{ data?.overallRate || 0 }}%</h3>
                    <span class="d-block gray-color">Overall Rate</span>
                </div>
                <div class="icon">
                    <i class="flaticon-bar-chart-1"></i>
                </div>
            </div>
            <!-- <p class="position-relative down"><i class="flaticon-trend-1"></i> <span>1%</span> Down from past week</p> -->
        </mat-card>
    </div>
</div>