// Import global styles for consistency
@import url('../../../styles/popup-create-update.scss');

.change-password-dialog {
    min-width: 500px;

    .header {
        .close-button {
            color: #666;

            &:hover {
                color: #333;
                background-color: rgba(0, 0, 0, 0.04);
            }
        }
    }
}

// Loading animation
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

