<div class="create-dialog-box scrollable-dialog">
    <div class="title d-flex align-items-center justify-content-space-between">
        <h4 class="mb-0">Create New User</h4>
        <button class="close-btn bg-transparent p-0 border-none" (click)="close()"><i class="flaticon-close"></i></button>
    </div>
    <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
        <div class="row">
            <!-- <div class="col-lg-6 col-md-6">
                <div class="form-group">
                    <label class="d-block fw-semibold">Image</label>
                    <input type="file" class="input-control">
                </div>
            </div> -->
            <div class="col-lg-6 col-md-6">
                <div class="form-group">
                    <label class="d-block fw-semibold">Name</label>
                    <input type="text" class="input-control" placeholder="Name" formControlName="fullName">
                    <div *ngIf="employeeForm.get('fullName')?.hasError('required') && employeeForm.get('fullName')?.touched" class="error-message">
                        Name is required
                    </div>
                    <div *ngIf="employeeForm.get('fullName')?.hasError('maxlength') && employeeForm.get('fullName')?.touched" class="error-message">
                        Name must be less than 255 characters
                    </div>
                </div>
            </div>
            <!-- <div class="col-lg-6 col-md-6">
                <div class="form-group">
                    <label class="d-block fw-semibold">User Name</label>
                    <input type="text" class="input-control" placeholder="User name">
                </div>
            </div> -->
            <div class="col-lg-6 col-md-6">
                <div class="form-group">
                    <label class="d-block fw-semibold">Email</label>
                    <input type="email" class="input-control" placeholder="Email" formControlName="email">
                    <div *ngIf="employeeForm.get('email')?.hasError('required') && employeeForm.get('email')?.touched" class="error-message">
                        Email is required
                    </div>
                    <div *ngIf="employeeForm.get('email')?.hasError('email') && employeeForm.get('email')?.touched" class="error-message">
                        Invalid email address
                    </div>
                    <div *ngIf="employeeForm.get('email')?.hasError('maxlength') && employeeForm.get('email')?.touched" class="error-message">
                        Email must be less than 255 characters
                    </div>
                </div>
            </div>
            <!-- <div class="col-lg-6 col-md-6">
                <div class="form-group">
                    <label class="d-block fw-semibold">Phone</label>
                    <input type="number" class="input-control" placeholder="Phone">
                </div>
            </div> -->
            <div class="col-lg-12 col-md-6">
                <div class="form-group">
                    <label class="d-block fw-semibold">Level</label>
                    <select class="input-control" formControlName="levelId">
                        <option *ngFor="let level of listLevel" [value]="level.levelId">
                            {{ level.name }}
                        </option>
                    </select>
                    <div *ngIf="employeeForm.get('levelId')?.hasError('required') && employeeForm.get('levelId')?.touched" class="error-message">
                        Level is required
                    </div>
                </div>
            </div>
        </div>
        <div class="text-end">
            <button type="button" class="gray" (click)="close()"><i class="ri-close-fill"></i> Cancel</button>
            <button type="submit"><i class="ri-add-fill"></i> Create New User</button>
        </div>
    </form>
</div>