<mat-card
    class="mb-25 tagus-card"
>
    <mat-card-header class="border-bottom">
        <h5 class="mb-0">Settings</h5>
    </mat-card-header>
    <mat-card-content>
        <nav>
            <ul class="ps-0 mt-0">
                <li>
                    <a routerLink="/profile" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Profile</a>
                </li>
                <li>
                    <a routerLink="/security" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Security</a>
                </li>
            </ul>
        </nav>
        <form [formGroup]="profileForm">
            <h5 class="fw-semibold mb-8 mt-5">Your Photo</h5>
            <p>This will be displayed on your profile.</p>
            <div class="d-flex align-items-center mb-20">
                <img [src]="previewUrl || userProfile?.avatarUrl" class="rounded-circle avatar-image" alt="user">
                <div class="tagus-form-group ms-20">
                    <label class="d-block mb-12 fw-semibold gray-color">Upload Image</label>
                    <input type="file" 
                           #fileInput 
                           accept="image/*" 
                           (change)="onFileSelected($event)">
                    <button type="button" 
                            mat-flat-button
                            *ngIf="previewUrl" 
                            class="mt-2 remove-avatar-btn" 
                            (click)="clearPreview()">
                        Remove Avatar
                    </button>
                </div>
            </div>
            <h5 class="fw-semibold mb-8">Profile</h5>
            <p>Update your photo and personal details here.</p>
            <div class="row mt-20">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="tagus-form-group">
                        <label class="d-block mb-12 fw-semibold gray-color">Full Name</label>
                        <mat-form-field appearance="fill">
                            <i class="ri-user-3-line"></i>
                            <input matInput formControlName="fullName">
                            <mat-error *ngIf="profileForm.get('fullName')?.hasError('required')">Full Name is required</mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="tagus-form-group">
                        <label class="d-block mb-12 fw-semibold gray-color">Email Address</label>
                        <mat-form-field appearance="fill">
                            <i class="ri-mail-line"></i>
                            <input matInput formControlName="email">
                            <mat-error *ngIf="profileForm.get('email')?.hasError('required')">Email is required</mat-error>
                            <mat-error *ngIf="profileForm.get('email')?.hasError('email')">Invalid email format</mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="tagus-form-group">
                        <label class="d-block mb-12 fw-semibold gray-color">Phone</label>
                        <mat-form-field appearance="fill">
                            <i class="ri-phone-line"></i>
                            <input matInput formControlName="phone">
                            <mat-error *ngIf="profileForm.get('phone')?.hasError('required')">Phone is required</mat-error>
                            <mat-error *ngIf="profileForm.get('phone')?.hasError('pattern')">Invalid phone number</mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="tagus-form-group">
                        <label class="d-block mb-12 fw-semibold gray-color"> Address</label>
                        <mat-form-field appearance="fill">
                            <i class="ri-home-7-line"></i>
                            <input matInput formControlName="location">
                            <mat-error *ngIf="profileForm.get('location')?.hasError('required')">Address is required</mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="tagus-form-group">
                        <label class="d-block mb-12 fw-semibold gray-color">Date Of Birth</label>
                        <mat-form-field appearance="fill">
                            <i class="ri-cake-2-line"></i>
                            <input matInput [matDatepicker]="startedDatePicker" formControlName="dateOfBirth" placeholder="Select date of birth" readonly>
                            <mat-datepicker-toggle matSuffix [for]="startedDatePicker"></mat-datepicker-toggle>
                            <mat-datepicker #startedDatePicker></mat-datepicker>
                            <mat-error *ngIf="profileForm.get('dateOfBirth')?.hasError('required')">
                                Date Of Birth is required
                            </mat-error>
                            <mat-error *ngIf="profileForm.get('dateOfBirth')?.hasError('matDatepickerParse')">Invalid date of birth</mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="tagus-form-group">
                        <label class="d-block mb-12 fw-semibold gray-color">Gender</label>
                        <mat-form-field appearance="fill">
                            <i class="ri-men-line"></i>
                            <mat-select formControlName="gender">
                                <mat-option *ngFor="let gender of genderList" [value]="gender.value">
                                    {{ gender.label }}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="profileForm.get('gender')?.hasError('required')">Gender is required</mat-error>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-end">
                <button mat-raised-button (click)="onSubmit()" class="tagus fw-semibold">Update</button>
            </div>
        </form>
    </mat-card-content>
</mat-card>