<div class="page-create-update-container">

    <div class="header mb-2 d-flex align-items-center justify-content-space-between">
        <div class="d-flex align-items-center justify-content-space-between">
            <div class="d-grid align-items-center mb-2">
                <div>
                    <h1 class="title">Profile</h1>
                </div>
  
            </div>
        </div>
        <div class="action-buttons">
            <button mat-flat-button color="primary" class="btn-primary-flat" (click)="onSubmit()"
                 [ngClass]="{
                    'btn-disabled': isSubmitting,
                }"
                [disabled]="isSubmitting"
                >
                <mat-icon>save</mat-icon>
                {{ 'common.update' | translate }}
            </button>
        </div>
    </div>

    <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
    <div [formGroup]="profileForm">
        <div class="stats-card bg-white border-radius-size-main h-100 mb-4">
            <h5>Your Photo</h5>
            <div class="app-form">
            <div class="d-flex align-items-center mb-4">
                <img [src]="previewAvatarUrl || profile?.avatarUrl || 'img/admin.jpg'" class="rounded-circle" width="110" alt="user">
                <div class="tagus-form-group ms-20">
                    <label class="d-block mb-12 fw-semibold gray-color">Upload Image</label>
                    <input type="file" (change)="onFileChange($event)" accept="image/*">
                </div>
            </div>
            </div>
            <div class="app-form">
            <h5 class="fw-semibold mb-8">Profile</h5>
            <div class="row position-relative">
                <div class="col-md-6">
                    <label class="d-block mb-12 fw-semibold">{{ 'profile.fullName' | translate }}</label>
                    <mat-form-field appearance="outline" class="w-100 thin-select">
                        <input matInput formControlName="fullName" placeholder="Enter full name">
                        <mat-error *ngIf="profileForm.get('fullName')?.hasError('required')">
                            {{ 'profile.fullNameRequired' | translate }}
                        </mat-error>
                        <mat-error *ngIf="profileForm.get('fullName')?.hasError('maxlength')">
                            {{ 'profile.fullNameMaxLength' | translate }}
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <label class="d-block mb-12 fw-semibold">{{ 'profile.email' | translate }}</label>
                    <mat-form-field appearance="outline" class="w-100 thin-select">
                        <input matInput formControlName="email" placeholder="Enter email">
                        <mat-error *ngIf="profileForm.get('email')?.hasError('required')">
                            {{ 'profile.emailRequired' | translate }}
                        </mat-error>
                        <mat-error *ngIf="profileForm.get('email')?.hasError('email')">
                            {{ 'profile.emailInvalid' | translate }}
                        </mat-error>
                        <mat-error *ngIf="profileForm.get('email')?.hasError('maxlength')">
                            {{ 'profile.emailMaxLength' | translate }}
                        </mat-error>
                    </mat-form-field>   
                </div>
                <div class="col-md-6">
                    <label class="d-block mb-12 fw-semibold">{{ 'profile.phoneNumber' | translate }}</label>
                    <mat-form-field appearance="outline" class="w-100 thin-select">
                        <input matInput formControlName="phoneNumber" placeholder="Enter phone number">
                        <mat-error *ngIf="profileForm.get('phoneNumber')?.hasError('required')">
                            {{ 'profile.phoneNumberRequired' | translate }}
                        </mat-error>
                        <mat-error *ngIf="profileForm.get('phoneNumber')?.hasError('pattern')">
                            {{ 'profile.phoneNumberInvalid' | translate }}
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <label class="d-block mb-12 fw-semibold">{{ 'profile.language' | translate }}</label>
                    <mat-form-field appearance="outline" class="w-100 thin-select">
                        <mat-select [formControlName]="'language'" [placeholder]="'profile.languagePlaceholder' | translate">
                            <mat-option *ngFor="let language of languageOptions" [value]="language.value">
                                {{ language.label }}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="profileForm.get('language')?.hasError('required')">
                            {{ 'profile.languageRequired' | translate }}
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>