.tagus-form {
    max-width: 510px;
    --mat-icon-color: var(--heraBlueColor);

    .title {
        margin-bottom: 30px;

        p {
            font-size: 18px;
        }
    }
    .mdc-button {
        margin-top: 25px;
        padding: 18px 35px !important;
        font: {
            size: 18px !important;
            family: var(--headingFontFamily) !important;
        };
    }
    .back-to-login {
        margin-top: 25px;

        a {
            padding-left: 20px;

            i {
                top: 50%;
                left: -5px;
                line-height: 1;
                font-size: 18px;
                margin-top: 2px;
                position: absolute;
                transform: translateY(-50%);
            }
            &:hover {
                color: var(--blackColor) !important;
            }
        }
    }
}
.component-dark-theme {
    .tagus-form {
        .back-to-login {
            a {
                &:hover {
                    color: var(--whiteColor) !important;
                }
            }
        }
    }
    &.card-borderd-theme {
        .bg-white {
            box-shadow: var(--borderWhiteBoxShadow);
        }
    }
}
.card-borderd-theme {
    .bg-white {
        box-shadow: var(--borderBoxShadow);
    }
}
.card-border-radius {
    .bg-white {
        border-radius: 0 !important;
    }
}
.component-rtl-enabled {
    .tagus-form {
        .me-30 {
            margin-right: 0 !important;
        }
        .back-to-login {
            margin-top: 25px;
    
            a {
                padding: {
                    left: 0;
                    right: 20px;
                };
                i {
                    right: -5px;
                    left: auto;
                }
            }
        }
    }
}

@media only screen and (max-width : 767px) {

    .tagus-form {
        max-width: 100%;
        padding: {
            left: 15px;
            right: 15px;
        };
        .title {
            margin-bottom: 20px;
    
            p {
                font-size: 15px;
            }
        }
        .mdc-button {
            margin-top: 15px;
            font-size: 15px !important;
            padding: 17px 30px !important;
        }
        .back-to-login {
            margin-top: 15px;
        }
    }

}

@media only screen and (min-width : 768px) and (max-width : 991px) {

    .tagus-form {
        .title {
            margin-bottom: 15px;
    
            p {
                font-size: 15px;
            }
        }
        .mdc-button {
            margin-top: 20px;
        }
        .back-to-login {
            margin-top: 20px;
        }
    }

}