<div class="create-update-container">
    <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
    <!-- Header -->
    <div class="header mb-2 d-flex align-items-center justify-content-between">
      <div class="d-flex align-items-center">
        <div>
          <h2 class="title">{{ id ? ('system.product.update' | translate) : ('system.product.create' | translate) }}</h2>
        </div>
      </div>
      <button mat-icon-button (click)="onCancel()" class="close-button">
        <mat-icon>close</mat-icon>
      </button>
    </div>

    <!-- Form Content -->
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="stats-card mb-4 body">
            <div class="app-form">
                <div class="row">
                    <div class="col-md-12">
                        <label class="d-block mb-12 fw-semibold">
                            {{ 'system.product.productCode' | translate }} <span class="text-danger">*</span>
                        </label>
                        <mat-form-field appearance="outline" class="w-100 thin-select">
                            <input matInput formControlName="productCode" [placeholder]="'system.product.productCodePlaceholder' | translate" [readonly]="id !== undefined"/>
                            <mat-error *ngIf="form.get('productCode')?.hasError('required')">{{ 'system.product.productCodeRequired' | translate }}</mat-error>
                            <mat-error *ngIf="form.get('productCode')?.hasError('maxlength')">{{ 'system.product.productCodeMaxLength' | translate }}</mat-error>
                        </mat-form-field>
                    </div>
                
                    <div class="col-md-12">
                        <label class="d-block mb-12 fw-semibold">
                            {{ 'system.product.name' | translate }} <span class="text-danger">*</span>
                        </label>
                        <mat-form-field appearance="outline" class="w-100 thin-select">
                            <input matInput formControlName="name" [placeholder]="'system.product.namePlaceholder' | translate" />
                            <mat-error *ngIf="form.get('name')?.hasError('required')">{{ 'system.product.nameRequired' | translate }}</mat-error>
                            <mat-error *ngIf="form.get('name')?.hasError('maxlength')">{{ 'system.product.nameMaxLength' | translate }}</mat-error>
                        </mat-form-field>
                    </div>
                
                    <div class="col-md-12">
                        <label class="d-block mb-12 fw-semibold">
                            {{ 'system.product.type' | translate }} <span class="text-danger">*</span>
                        </label>
                        <mat-form-field appearance="outline" class="w-100 thin-select">
                            <mat-select formControlName="type" [placeholder]="'system.product.typePlaceholder' | translate">
                                <mat-option *ngFor="let type of typeOptions" [value]="type.value">
                                    {{ type.displayName | translate }}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="form.get('type')?.hasError('required')">{{ 'system.product.typeRequired' | translate }}</mat-error>
                        </mat-form-field>
                    </div>
                
                    <div class="col-md-12">
                        <label class="d-block mb-12 fw-semibold">
                            {{ 'system.product.description' | translate }}
                        </label>
                        <mat-form-field appearance="outline" class="w-100 gray_border">
                            <textarea matInput formControlName="description" [placeholder]="'system.product.descriptionPlaceholder' | translate" rows="3"></textarea>
                            <mat-error *ngIf="form.get('description')?.hasError('maxlength')">{{ 'system.product.descriptionMaxLength' | translate }}</mat-error>
                        </mat-form-field>
                    </div>
                
                    <div class="col-md-12">
                        <label class="d-block mb-12 fw-semibold">
                            {{ 'system.product.unit' | translate }} <span class="text-danger">*</span>
                        </label>
                        <mat-form-field appearance="outline" class="w-100 thin-select">
                            <mat-select formControlName="unit" [placeholder]="'system.product.unitPlaceholder' | translate">
                                <mat-option *ngFor="let unit of unitOptions" [value]="unit.value"> {{ unit.displayName | translate }} </mat-option>
                            </mat-select>
                            <mat-error *ngIf="form.get('unit')?.hasError('required')">{{ 'system.product.unitRequired' | translate }}</mat-error>
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </div>

        <div class="d-flex gap-3 justify-content-end footer">
            <button mat-flat-button type="button" class="btn-primary-flat btn-cancel" (click)="onCancel()">
              {{ 'common.cancel' | translate }}
            </button>
            <button 
              type="submit" 
              mat-flat-button 
              color="primary" 
              class="btn-primary-flat"
                [disabled]=" isSubmit"
                [ngClass]="{
                  'btn-disabled': isSubmit,
                  'btn-update': id && !(form.invalid || isSubmit),
                  'btn-create': !id && !(form.invalid || isSubmit)
              }"
              [class.loading]="isSubmit">
              <mat-icon *ngIf="!isSubmit">{{ id ? 'save' : 'add' }}</mat-icon>
              <mat-icon *ngIf="isSubmit" class="spin">refresh</mat-icon>
              {{ id ? ('common.update' | translate) : ('common.create' | translate) }}
            </button>
          </div>
    </form>


</div>
