@use "../profile/profile.component.scss" as *;

.mat-mdc-checkbox {
    margin-left: -10px;
}
.component-rtl-enabled {
    .mat-mdc-checkbox {
        margin: {
            left: 0;
            right: -10px;
        };
    }
}