<!-- <div class="breadcrumb-card mb-25 d-md-flex align-items-center justify-content-space-between">
    <h1 class="mb-0">Intern</h1>
</div> -->

<div class="row">
    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-3 d-flex" *ngFor="let course of courses">
        <mat-card class="mb-25 text-center tagus-card w-100">
            <mat-card-content>
                <div>
                    <img [src]="course.imageUrl || 'img/user/user12.jpg'" class="mb-15 img-course" width="300" alt="user">
                    <!-- <h5 class="mb-5 fw-semibold" [matTooltip]="maxLengthText(course.courseName) ? course.courseName : ''">{{formatText(course.courseName)}}</h5> -->
                    <h5 class="mb-5 fw-semibold">{{course.courseName}}</h5>
                </div>
                <div>
                    <span class="d-block muted-color">{{course.level}}</span>
                    <div class="btn-box">
                        <button mat-flat-button class="gray" (click)="detailCourse(course)" >{{course.isEnrolled ? 'Continue' : 'Enroll Now'}}</button>
                    </div>
                    <ul class="list d-flex align-items-center justify-content-space-between text-center mb-0">
                        <li class="muted-color fw-medium down">
                            <span class="d-block">Lecturer</span>
                            <span class="gray-color d-inline-block position-relative fw-semibold" [matTooltip]="maxLengthTextName(course.creatorName) ? course.creatorName : ''">{{formatName(course.creatorName)}}</span>
                        </li>
                        <li class="muted-color fw-medium">
                            <span class="d-block">Lessons</span>
                            <span class="gray-color d-inline-block position-relative fw-semibold">{{course.totalLesson}}</span>
                        </li>
                        <li class="muted-color fw-medium down">
                            <span class="d-block">Duration</span>
                            <span class="gray-color d-inline-block position-relative fw-semibold">{{formatDuration(course.totalDuration)}}</span>
                        </li>
                    </ul>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <!-- <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-3 d-flex">
        <mat-card class="mb-25 text-center tagus-card w-100">
            <mat-card-content>
                <div>
                    <img src="img/user/user12.jpg" class="mb-15" width="" alt="user">
                    <h5 class="mb-5 fw-semibold">Angular</h5>
                </div>
                <div>
                    <span class="d-block muted-color">Intern</span>
                    <div class="btn-box">
                        <button mat-flat-button class="gray" (click)="detailCourse({id:1})">Enroll Now</button>
                    </div>
                    <ul class="list d-flex align-items-center justify-content-space-between text-center mb-0">
                        <li class="muted-color fw-medium down">
                            <span class="d-block">Lecturer</span>
                            <span class="gray-color d-inline-block position-relative fw-semibold">tien si</span>
                        </li>
                        <li class="muted-color fw-medium">
                            <span class="d-block">Lessons</span>
                            <span class="gray-color d-inline-block position-relative fw-semibold">14</span>
                        </li>
                        <li class="muted-color fw-medium down">
                            <span class="d-block">Duration</span>
                            <span class="gray-color d-inline-block position-relative fw-semibold">12h34'</span>
                        </li>
                    </ul>
                </div>
            </mat-card-content>
        </mat-card>
    </div> -->
</div>

<!-- <div class="breadcrumb-card mb-25 d-md-flex align-items-center justify-content-space-between">
    <h1 class="mb-0">Fresher</h1>
</div>

<div class="row">
    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-3 d-flex">
        <mat-card class="mb-25 text-center tagus-card">
            <mat-card-content>
                <div>
                    <img src="img/user/user12.jpg" class="mb-15" width="" alt="user">
                    <h5 class="mb-5 fw-semibold">Angular</h5>
                </div>
                <div>
                    <span class="d-block muted-color">Fresher</span>
                    <div class="btn-box">
                        <button mat-flat-button class="gray" (click)="detailCourse({id:1})">Enroll Now</button>
                    </div>
                    <ul class="list d-flex align-items-center justify-content-space-between text-center mb-0">
                        <li class="muted-color fw-medium down">
                            <span class="d-block">Lecturer</span>
                            <span class="gray-color d-inline-block position-relative fw-semibold">tien si</span>
                        </li>
                        <li class="muted-color fw-medium">
                            <span class="d-block">Lessons</span>
                            <span class="gray-color d-inline-block position-relative fw-semibold">14</span>
                        </li>
                        <li class="muted-color fw-medium down">
                            <span class="d-block">Duration</span>
                            <span class="gray-color d-inline-block position-relative fw-semibold">12h34'</span>
                        </li>
                    </ul>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div> -->