.btn-box {
    margin-top: 10px;

    button, a {
        padding: 10px 18px 11px !important;
        font: {
            weight: 600 !important;
            size: 14px !important;
        };
    }
}
.list {
    list-style-type: none;
    margin-top: 10px;
    padding: {
        left: 0;
        right: 0;
    };
    li {
        span {
            &:nth-child(2) {
                margin-top: 5px;
                font-size: 20px;
            }
        }
    }
}

.custom-row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
    .card {
        height: 100%;
    }
}

::ng-deep .mat-mdc-card-content {
    height: 100%;
    display: flex !important;
    flex-direction: column;
    justify-content: space-between !important;
}



@media only screen and (max-width : 767px) {

    .btn-box {
        margin-top: 5px;
    }
    .list {
        margin-top: 5px;
        padding: {
            left: 0;
            right: 0;
        };
        li {
            span {
                &:nth-child(2) {
                    font-size: 17px;
                    margin-top: 5px;
                }
            }
        }
    }

}

@media only screen and (min-width: 1600px) {

    .list {
        padding: {
            left: 10px;
            right: 10px;
        };
    }

}