<div class="dashboard-wrapper">
  <div class="dashboard-header">
    <h1 class="title">Dashboard</h1>
  </div>

  <div class="dashboard-grid">
    <!-- Current Balance Panel -->
    <div class="dashboard-panel bg-white box-shadow border-radius-size-main">
      <div class="panel-header">
        <h3 class="panel-title">Current Balance</h3>
      </div>
      <div class="panel-content">
        <div class="chart-container">
          <apx-chart
            [series]="currentBalanceChartOptions.series!"
            [chart]="currentBalanceChartOptions.chart!"
            [plotOptions]="currentBalanceChartOptions.plotOptions!"
            [dataLabels]="currentBalanceChartOptions.dataLabels!"
            [stroke]="currentBalanceChartOptions.stroke!"
            [xaxis]="currentBalanceChartOptions.xaxis!"
            [yaxis]="currentBalanceChartOptions.yaxis!"
            [fill]="currentBalanceChartOptions.fill!"
            [colors]="currentBalanceChartOptions.colors!"
            [legend]="currentBalanceChartOptions.legend!"
            [tooltip]="currentBalanceChartOptions.tooltip!"
            class="chart">
          </apx-chart>
        </div>
        <div class="balance-info">
          <div class="balance-info-row">
            <span class="balance-label">Current Balance</span>
            <a href="#" class="details-link">Details</a>
          </div>
          <div class="balance-amount">{{ currentBalance }}</div>
        </div>
      </div>
    </div>

    <!-- Product Distribution Panel -->
    <div class="dashboard-panel bg-white box-shadow border-radius-size-main">
      <div class="panel-header">
        <h3 class="panel-title">Product Distribution</h3>
      </div>
      <div class="panel-content">
        <div class="chart-container product-distribution-chart">
          <apx-chart
            [series]="productDistributionChartOptions.series!"
            [chart]="productDistributionChartOptions.chart!"
            [labels]="productDistributionChartOptions.labels!"
            [colors]="productDistributionChartOptions.colors!"
            [plotOptions]="productDistributionChartOptions.plotOptions!"
            [legend]="productDistributionChartOptions.legend!"
            [dataLabels]="productDistributionChartOptions.dataLabels!"
            class="chart">
          </apx-chart>
          <div class="chart-center-label">
            <div class="center-label-value">{{ totalTransactions }}</div>
            <div class="center-label-text">Total transaction</div>
          </div>
        </div>
      </div>
    </div>

    <!-- Reconciliation and Purchase Order Wrapper -->
    <div class="reconciliation-purchase-wrapper">
      <!-- Reconciliation Panel -->
      <div class="dashboard-panel bg-white box-shadow border-radius-size-main reconciliation-panel">
        <div class="panel-header reconciliation-header">
          <div class="panel-title-column">
            <h3 class="panel-title">Reconciliation</h3>
            <span class="panel-date">Today Jan 06</span>
          </div>
          <a href="#" class="view-all-link">View all</a>
        </div>
        <div class="panel-content">
          <div class="reconciliation-grid">
            <div class="reconciliation-item">
              <div class="reconciliation-icon">
                <mat-icon>receipt_long</mat-icon>
              </div>
              <div class="reconciliation-info">
                <div class="reconciliation-value">{{ reconciliationData.transactions }}</div>
                <div class="reconciliation-label">Transactions</div>
              </div>
            </div>
            <div class="reconciliation-item">
              <div class="reconciliation-icon">
                <mat-icon>payments</mat-icon>
              </div>
              <div class="reconciliation-info">
                <div class="reconciliation-value">{{ reconciliationData.amount }}</div>
                <div class="reconciliation-label">Amount</div>
              </div>
            </div>
            <div class="reconciliation-item success">
              <div class="reconciliation-icon">
                <mat-icon>check_circle</mat-icon>
              </div>
              <div class="reconciliation-info">
                <div class="reconciliation-value">{{ reconciliationData.success }}</div>
                <div class="reconciliation-label">Success</div>
              </div>
            </div>
            <div class="reconciliation-item failure">
              <div class="reconciliation-icon">
                <mat-icon>error</mat-icon>
              </div>
              <div class="reconciliation-info">
                <div class="reconciliation-value">{{ reconciliationData.failure }}</div>
                <div class="reconciliation-label">Failure</div>
              </div>
            </div>
            <div class="reconciliation-item missed">
              <div class="reconciliation-icon">
                <mat-icon>warning</mat-icon>
              </div>
              <div class="reconciliation-info">
                <div class="reconciliation-value">{{ reconciliationData.missed }}</div>
                <div class="reconciliation-label">Missed</div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Purchase Order Panel -->
      <div class="dashboard-panel bg-white box-shadow border-radius-size-main purchase-order-panel">
        <div class="panel-header">
          <h3 class="panel-title">Purchase Order</h3>
          <a href="#" class="view-all-link">View all</a>
        </div>
        <div class="panel-content">
          <div class="purchase-order-container">
            <div class="purchase-order-item deposit-item">
              <div class="purchase-order-header">
                <div class="purchase-order-icon-square deposit-icon-square">
                  <mat-icon>add</mat-icon>
                </div>
                <span class="purchase-order-label-text deposit-label">Deposit</span>
              </div>
              <div class="purchase-order-waiting deposit-waiting">
                {{ purchaseOrderData.deposit.waiting }} waiting
              </div>
              <div class="purchase-order-date">Today {{ purchaseOrderData.deposit.today }}</div>
            </div>
            <div class="purchase-order-divider">
              <div class="divider-line"></div>
              <div class="divider-vs">VS</div>
              <div class="divider-line"></div>
            </div>
            <div class="purchase-order-item withdraw-item">
              <div class="purchase-order-header">

                <span class="purchase-order-label-text withdraw-label">Withdraw</span>
                  <div class="purchase-order-icon-square withdraw-icon-square">
                      <mat-icon>remove</mat-icon>
                  </div>
              </div>
              <div class="purchase-order-waiting withdraw-waiting">
                {{ purchaseOrderData.withdraw.waiting }} waiting
              </div>
              <div class="purchase-order-date">Today {{ purchaseOrderData.withdraw.today }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Amount Panel -->


  </div>
    <div class="row chart-amount-transaction ">
        <div class="col-6 dashboard-panel bg-white box-shadow border-radius-size-main amount-panel">
            <div class="panel-header">
              <div class="panel-title-wrapper">
                <span class="panel-icon amount-icon">
                  <mat-icon>stacked_bar_chart</mat-icon>
                </span>
                <h3 class="panel-title">Amount</h3>
              </div>
            </div>
            <div class="panel-content">
                <div class="chart-container">
          <apx-chart
            [series]="amountChartOptions.series!"
            [chart]="amountChartOptions.chart!"
            [stroke]="amountChartOptions.stroke!"
            [plotOptions]="amountChartOptions.plotOptions!"
            [dataLabels]="amountChartOptions.dataLabels!"
            [fill]="amountChartOptions.fill!"
            [colors]="amountChartOptions.colors!"
            [xaxis]="amountChartOptions.xaxis!"
            [yaxis]="amountChartOptions.yaxis!"
            [legend]="amountChartOptions.legend!"
            [tooltip]="amountChartOptions.tooltip!"
            [markers]="amountChartOptions.markers!"
            class="chart">
          </apx-chart>
                </div>
            </div>
        </div>

        <!-- Transaction Panel -->
        <div class="col-6 dashboard-panel bg-white box-shadow border-radius-size-main transaction-panel">
            <div class="panel-header">
              <div class="panel-title-wrapper">
                <span class="panel-icon transaction-icon">
                  <mat-icon>timeline</mat-icon>
                </span>
                <h3 class="panel-title">Transaction</h3>
              </div>
            </div>
            <div class="panel-content">
                <div class="chart-container">
          <apx-chart
            [series]="transactionChartOptions.series!"
            [chart]="transactionChartOptions.chart!"
            [stroke]="transactionChartOptions.stroke!"
            [plotOptions]="transactionChartOptions.plotOptions!"
            [dataLabels]="transactionChartOptions.dataLabels!"
            [fill]="transactionChartOptions.fill!"
            [colors]="transactionChartOptions.colors!"
            [xaxis]="transactionChartOptions.xaxis!"
            [yaxis]="transactionChartOptions.yaxis!"
            [legend]="transactionChartOptions.legend!"
            [tooltip]="transactionChartOptions.tooltip!"
            [markers]="transactionChartOptions.markers!"
            class="chart">
          </apx-chart>
                </div>
            </div>
        </div>
    </div>
</div>

