<div class="container">
    <!-- Header Section -->
    <div class="header mb-2">
        <div class="d-flex align-items-center justify-content-between">
            <div>
                <h1 class="title mb-2">{{ 'system.config.title' | translate }}</h1>
            </div>
        </div>
    </div>

    <div class="config-wrapper">
        <!-- Pages Setting Panel -->
        <div class="wrapper-card config-panel config-left">
            <div class="panel-header">
                <h4 class="panel-title">{{ 'system.config.pagesSetting' | translate }}</h4>
                <button mat-flat-button [disabled]="!hasUnsavedChangesPages()" [class.btn-disabled]="!hasUnsavedChangesPages()" color="primary" class="btn-primary-flat" (click)="onUpdatePages()">
                    <mat-icon>folder</mat-icon>
                    {{ 'common.update' | translate }}
                </button>
            </div>
            <div class="table-container">
                <generic-table
                    [dataSource]="pagesSettings"
                    [config]="pagesTableConfig"
                    [loading]="loadingPages"
                    [totalItems]="totalItemsPages"  
                    [currentPage]="currentPagePages"
                    [totalPages]="totalPagesPages"  
                    [pageSize]="pageSizePages"
                    (pageChange)="onPagePagesChange($event)"
                    (pageSizeChange)="onPageSizePagesChange($event)">
                    >
                </generic-table>
            </div>
        </div>

        <!-- Actions Setting Panel -->
        <div class="wrapper-card config-panel config-right">
            <div class="panel-header">
                <h4 class="panel-title">{{ 'system.config.actionsSetting' | translate }}</h4>
                <button mat-flat-button [disabled]="!hasUnsavedChangesActions()" [class.btn-disabled]="!hasUnsavedChangesActions()" color="primary" class="btn-primary-flat" (click)="onUpdateActions()">
                    <mat-icon>folder</mat-icon>
                    {{ 'common.update' | translate }}
                </button>
            </div>
            <div class="table-container">
                <generic-table
                    [dataSource]="actionsSettings"
                    [config]="actionsTableConfig"
                    [loading]="loadingActions"
                    [totalItems]="totalItemsActions"
                    [currentPage]="currentPageActions"
                    [totalPages]="totalPagesActions"  
                    [pageSize]="pageSizeActions"
                    (pageChange)="onPageActionsChange($event)"
                    (pageSizeChange)="onPageSizeActionsChange($event)">
                    >
                </generic-table>
            </div>
        </div>
    </div>
</div>

