<div
    class="sidebar-area bg-white box-shadow"
    [ngClass]="{'active': isToggled}"
>
    <div class="logo bg-white">
        <a routerLink="/manager" class="d-flex align-items-center">
            <img src="img/logo-icon.png" alt="logo">
            <span>Skill Up</span>
        </a>
    </div>
    <div class="burger-menu" (click)="toggle()" [ngClass]="{'active': isToggled}">
        <span class="top-bar"></span>
        <span class="middle-bar"></span>
        <span class="bottom-bar"></span>
    </div>
    <ng-scrollbar visibility="hover" style="height: 100vh;">
        <div class="sidebar-inner">
            <div class="sidebar-menu">
                <mat-accordion>
                    <span class="sub-title gray-color">Manager</span>
                    <mat-expansion-panel [expanded]="isActive('/manager')" hideToggle>
                    <mat-expansion-panel-header 
                        class="sidemenu-link"
                        routerLink="/manager"
                        routerLinkActive="active"
                        [routerLinkActiveOptions]="{ exact: true }"
                    >
                        <mat-panel-title>
                            <i class="flaticon-menu-1"></i>
                            <span class="title">Dashboard</span>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    </mat-expansion-panel>

                    <mat-expansion-panel [expanded]="isActive('/manager/users')" hideToggle>
                    <mat-expansion-panel-header
                        routerLink="/manager/users" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link"
                    >
                        <mat-panel-title>
                            <i class="flaticon-user"></i>
                            <span class="title">Users</span>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    </mat-expansion-panel>

                    <mat-expansion-panel [expanded]="isActive('/manager/courses')" hideToggle>
                    <mat-expansion-panel-header routerLink="/manager/courses" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link">
                        <mat-panel-title>
                            <i class="flaticon-menu-2"></i>
                            <span class="title">Courses</span>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    </mat-expansion-panel>

                    <mat-expansion-panel [expanded]="isActive('/manager/roadmaps')" hideToggle>
                    <mat-expansion-panel-header routerLink="/manager/roadmaps" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link">
                        <mat-panel-title>
                            <i class="flaticon-calendar-1"></i>
                            <span class="title">Road Maps</span>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    </mat-expansion-panel>
                
                </mat-accordion>
            </div>
        </div>
    </ng-scrollbar>
</div>
