<mat-card class="mb-25 tagus-card">
    <!-- <mat-card-header> -->
        <div class="search">
            <div class="search-header">
                <h5 class="mb-1">User Management</h5>
                <button mat-flat-button color="primary" (click)="addUser()">Add User</button>
            </div>

            <div >
                <div class="tagus-search-box">
                    <input type="text" class="input-search border-radius" placeholder="Search here" [(ngModel)]="searchTerm" >
                    <button  mat-flat-button class="tagus" (click)="search()"><i class="ri-search-line"></i></button>
                </div>
            </div>
        </div>

    <!-- </mat-card-header> -->
    <mat-card-content>
        <div class="mat-elevation-z8 recentOrdersTable tagus-mat-table">
            <!-- Loading indicator -->
            <div *ngIf="isLoading" class="loading-container">
                <div class="loading-text">Loading...</div>
            </div>
            
            <table mat-table [dataSource]="data" [class.loading]="isLoading">

                <!-- ID Column -->
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef>ID</th>
                    <td mat-cell *matCellDef="let element">{{element.userId}}</td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef>Name</th>
                    <td mat-cell *matCellDef="let element" [matTooltip]="maxLengthText(element.fullName) ? element.fullName : ''">{{formatText(element.fullName)}}</td>
                </ng-container>

                <!-- Email Column -->
                <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef>Email</th>
                    <td mat-cell *matCellDef="let element" [matTooltip]="maxLengthText(element.email) ? element.email : ''">{{element.email}}</td>
                </ng-container>

                <!-- Role Column -->
                <ng-container matColumnDef="role">
                    <th mat-header-cell *matHeaderCellDef>Role</th>
                    <td mat-cell *matCellDef="let element">
                        <span
                        class="role-badge"
                        [ngClass]="{
                            'employee': element.roles.includes('Employee'),
                            'lecturer': element.roles.includes('Lecturer'),
                            'admin': element.roles.includes('Admin'),
                            'manager': element.roles.includes('Manager')
                        }"
                        >
                        {{ element.roles.join(', ') }}
                        </span>
                    </td>
                </ng-container>

                <!-- Status Column -->
                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef>Status</th>
                    <td mat-cell *matCellDef="let element">
                        <span class="badge" [ngClass]="element.active ? 'text-soft-success' : 'text-soft-danger'">{{element.active ? 'Active' : 'Inactive'}}</span>
                    </td>
                </ng-container>

                <!-- Joined Date Column -->
                <ng-container matColumnDef="joinedDate">
                    <th mat-header-cell *matHeaderCellDef>Joined Date</th>
                    <td mat-cell *matCellDef="let element">{{element.createdAt | date:'dd/MM/yyyy'}}</td>
                </ng-container>
                
                <!-- Action Column -->
                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef>Actions</th>
                    <td mat-cell *matCellDef="let element">
                        <div class="actions-container">
                        <button
                            mat-icon-button
                            matTooltip="View Details"
                            (click)="goDetail(element)"
                        >
                            <mat-icon>visibility</mat-icon>
                        </button>
                        <mat-card-content>
                            <button mat-icon-button [matMenuTriggerFor]="menu">
                                <mat-icon>edit</mat-icon>
                            </button>
                            <mat-menu #menu="matMenu">
                                <button mat-menu-item *ngFor="let role of roles" (click)="updateRole(element, role.value)" [disabled]="role.label === element.roles[0]">
                                    <span>{{role.label}}</span>
                                </button>
                            </mat-menu>
                        </mat-card-content>
                        <mat-card-content>
                            <button mat-icon-button [matMenuTriggerFor]="menu1">
                                <mat-icon>lock</mat-icon>
                            </button>
                            <mat-menu #menu1="matMenu">
                                <button mat-menu-item (click)="banUser(element, false)" [disabled]="!element.active">
                                    <span>Ban</span>
                                </button>
                                <button mat-menu-item (click)="banUser(element, true)" [disabled]="element.active">
                                    <span>UnBan</span>
                                </button>
                            </mat-menu>
                        </mat-card-content>
                    </div>
                    </td>
                </ng-container>



                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 20, 50]" showFirstLastButtons [pageSize]="pageSize"
                [pageIndex]="currentPage - 1" (page)="onPaginatorChange($event)" [disabled]="false"
                [length]="totalItems"></mat-paginator>
        </div>
    </mat-card-content>
</mat-card>