<div class="detail-container">
    <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
    <div class="stats-card bg-white border-radius-size-main h-100 mb-4">
      <h4 class="section-title">{{ 'system.help.helpPartnerTitle' | translate }}</h4>
      <div class="app-form">
        <div class="row position-relative bg-white">
          <div class="col-md-3 sidebar">
            <div class="sidebar-content">
              <div class="sidebar-content-title" *ngFor="let help of helpList">
                <span class="sidebar-content-title-item" [class.active]="helpCode === help.code" (click)="onSelectHelp(help)">{{ help.title }}</span>
              </div>
            </div>
          </div>
          <div class="col-md-9 help-content">
            <div [innerHTML]="helpContent" class="ql-editor ql-snow"></div>
          </div>
          <div class="pagination">
            <button class="pagination-btn pagination-btn-prev" [disabled]="currentPage === 1" (click)="onPreviousPage()">
              <div class="pagination-label">Previous</div>
              <div class="pagination-link">
                <span *ngIf="getPreviousHelp()">« {{ getPreviousHelp()?.title }}</span>
              </div>
            </button>
            <button class="pagination-btn pagination-btn-next" [disabled]="currentPage === totalPages" (click)="onNextPage()">
              <div class="pagination-label">Next</div>
              <div class="pagination-link">
                <span *ngIf="getNextHelp()">{{ getNextHelp()?.title }} »</span>
              </div>
            </button>
          </div>
        </div>
      </div>
    </div>
    
</div>
  