<div class="container">
    <!-- Header Section -->
    <div class="header mb-2">
        <div class="d-flex align-items-center justify-content-between">
            <div>
                <h1 class="title mb-2">{{ 'system.reconciliation.title' | translate }}</h1>
            </div>
        </div>
    </div>

    <!-- Filters Section -->
    <div class="wrapper-card">
        <div class="row mb-3">
            <div class="col-12">
                <h4 class="title">{{ 'system.reconciliation.list' | translate }}</h4>
                <generic-filter
                    [config]="reconciliationFilterConfig"
                    [isSearchLoading]="isLoadingFilter"
                    [initialValues]="initialFilterValues"
                    (applyFilters)="onApplyFilters($event)"
                    (clearFilters)="onClearFilters()">
                </generic-filter>
            </div>
        </div>

        <div class="row mb-4">
            <div class="col-12">
                <generic-table
                    [dataSource]="reconciliations"
                    [config]="reconciliationTableConfig"
                    [loading]="loading"
                    [totalItems]="total"
                    [currentPage]="page"
                    [totalPages]="totalPages"
                    [pageSize]="size"
                    (pageChange)="onPageChange($event)"
                    (pageSizeChange)="onPageSizeChange($event)">
                </generic-table>
            </div>
        </div>
    </div>
</div>

