.tagus-form {
    max-width: 510px;
    --mat-icon-color: var(--heraBlueColor);

    .top {
        padding: 25px 165px 45px 25px;
        background-color: #EAEDFB;

        h4 {
            font-size: 20px;
            margin-bottom: 10px;
        }
        img {
            right: 0;
            bottom: 0;
            position: absolute;
        }
    }
    .user {
        img {
            border: 4px solid var(--whiteColor);
            filter: drop-shadow(0px 4px 15px rgba(82, 150, 213, 0.08));
        }
    }
    .mdc-button {
        padding: 17px 35px !important;
        font: {
            size: 18px !important;
            family: var(--headingFontFamily) !important;
        };
    }
}
.component-dark-theme {
    .tagus-form {
        .top {
            background-color: #1e2227;
        }
        .user {
            img {
                border-color: #1f2226;
            }
        }
    }
    &.card-borderd-theme {
        .tagus-form {
            box-shadow: var(--borderWhiteBoxShadow);
        }
    }
}
.card-borderd-theme {
    .tagus-form {
        box-shadow: var(--borderBoxShadow);
    }
}
.card-border-radius {
    .tagus-form {
        border-radius: 0 !important;
        
        .top {
            border-radius: 0 !important;
        }
    }
}
.component-rtl-enabled {
    .tagus-form {
        .top {
            padding: {
                right: 25px;
                left: 165px;
            };
            img {
                right: auto;
                left: 0;
            }
        }
    }
}

@media only screen and (max-width : 767px) {

    .tagus-form {
        max-width: 100%;
        padding: {
            left: 15px;
            right: 15px;
        };
        .top {
            padding: 20px;
    
            h4 {
                font-size: 15px;
                margin-bottom: 8px;
            }
            img {
                max-width: 100%;
                position: relative;
                margin-bottom: 15px;
            }
        }
        .mdc-button {
            font-size: 15px !important;
            padding: 17px 30px !important;
        }
    }
    .component-rtl-enabled {
        .tagus-form {
            .top {
                padding: 20px;
            }
        }
    }

}

@media only screen and (min-width : 768px) and (max-width : 991px) {

    .tagus-form {
        .mdc-button {
            font-size: 16px !important;
        }
    }

}