<div
    class="h-100vh pt-50 pb-50"
>
    <div class="d-table">
        <div class="d-table-cell">
            <div class="tagus-form ms-auto me-auto border-top-radius">
                <div class="top border-top-radius position-relative">
                    <img src="img/welcome.png" alt="welcome">
                    <h4 class="main-color">Welcome to Tagus Dashboard !</h4>
                    <p class="main-color">Hello Andrew Burns, enter your password to unlock the screen!</p>
                </div>
                <div class="user bg-white text-center pt-30 ps-25 pe-25">
                    <img src="img/user/user15.jpg" class="rounded-circle" width="60" alt="user">
                    <h5 class="mb-0 mt-8">Andrew Burns</h5>
                </div>
                <form>
                    <div class="bg-white border-bottom-radius pt-30 pb-30 ps-25 pe-25">
                        <div class="tagus-form-group without-icon">
                            <label class="d-block mb-12 fw-semibold gray-color">Password <span>*</span></label>
                            <mat-form-field appearance="fill">
                                <mat-label>Enter your password</mat-label>
                                <input matInput [type]="hide ? 'password' : 'text'">
                                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                </button>
                            </mat-form-field>
                        </div>
                        <button mat-flat-button class="tagus d-block fw-semibold">Unlock</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>