<mat-progress-bar *ngIf="loading" mode="indeterminate" class="loading-bar"></mat-progress-bar>
<div class="drawer-header">
    <h3>{{id ? ('system.product.editPolicy' | translate) : ('system.product.addPolicy' | translate)}}</h3>
</div>
<div class="row position-relative drawer-body" [formGroup]="form">
    <div class="col-md-12">
        <label class="d-block mb-12 fw-semibold">
            {{ 'system.product.policyName' | translate }} <span class="text-danger">*</span>
        </label>
        <mat-form-field appearance="outline" class="w-100 thin-select">
            <input matInput formControlName="policyName" [placeholder]="'system.product.policyNamePlaceholder' | translate" />
            <mat-error *ngIf="form.get('policyName')?.hasError('required')">{{ 'system.product.policyNameRequired' | translate }}</mat-error>
            <mat-error *ngIf="form.get('policyName')?.hasError('maxlength')">{{ 'system.product.policyNameMaxLength' | translate }}</mat-error>
        </mat-form-field>
    </div>

    <div class="col-md-12">
        <label class="d-block mb-12 fw-semibold">
            {{ 'system.product.policyDescription' | translate }}
        </label>
        <mat-form-field appearance="outline" class="w-100 gray_border">
            <textarea matInput formControlName="policyDescription" [placeholder]="'system.product.policyDescriptionPlaceholder' | translate" rows="3"></textarea>
            <mat-error *ngIf="form.get('policyDescription')?.hasError('maxlength')">{{ 'system.product.policyDescriptionMaxLength' | translate }}</mat-error>
        </mat-form-field>
    </div>

    <div class="col-md-12">
        <label class="d-block mb-12 fw-semibold">
            {{ 'system.product.partner' | translate }} <span class="text-danger">*</span>
        </label>
        <generic-searchable-select
            [form]="form"
            nameControl="partnerId"
            [config]="partnerConfig"
            [dataSource]="partnerDataSource"
            [errorList]="[{ key: 'required', value: 'system.product.partnerRequired' }]">
        </generic-searchable-select>
    </div>

    <div class="col-md-12">
        <label class="d-block mb-12 fw-semibold">
            {{ 'system.product.price' | translate }} <span class="text-danger">*</span>
        </label>
        <mat-form-field appearance="outline" class="w-100 thin-select">
            <input matInput type="number" formControlName="price" [placeholder]="'system.product.pricePlaceholder' | translate" min="0" />
            <mat-error *ngIf="form.get('price')?.hasError('required')">{{ 'system.product.priceRequired' | translate }}</mat-error>
            <mat-error *ngIf="form.get('price')?.hasError('min')">{{ 'system.product.priceMin' | translate }}</mat-error>
        </mat-form-field>
    </div>

    <div class="col-md-12">
        <label class="d-block mb-12 fw-semibold">
            {{ 'system.product.transactionFee' | translate }} <span class="text-danger">*</span>
        </label>
        <mat-form-field appearance="outline" class="w-100 thin-select">
            <input matInput type="number" formControlName="transactionFee" [placeholder]="'system.product.transactionFeePlaceholder' | translate" min="0" />
            <mat-error *ngIf="form.get('transactionFee')?.hasError('required')">{{ 'system.product.transactionFeeRequired' | translate }}</mat-error>
            <mat-error *ngIf="form.get('transactionFee')?.hasError('min')">{{ 'system.product.transactionFeeMin' | translate }}</mat-error>
        </mat-form-field>
    </div>

    <div class="col-md-12">
        <label class="d-block mb-12 fw-semibold">
            {{ 'system.product.discount' | translate }} <span class="text-danger">*</span>
        </label>
        <mat-form-field appearance="outline" class="w-100 thin-select">
            <input matInput type="number" formControlName="discount" [placeholder]="'system.product.discountPlaceholder' | translate" min="0" />
            <mat-error *ngIf="form.get('discount')?.hasError('required')">{{ 'system.product.discountRequired' | translate }}</mat-error>
            <mat-error *ngIf="form.get('discount')?.hasError('min')">{{ 'system.product.discountMin' | translate }}</mat-error>
        </mat-form-field>
    </div>

    <div class="col-md-12">
        <label class="d-block mb-12 fw-semibold">
            {{ 'system.product.commission' | translate }} <span class="text-danger">*</span>
        </label>
        <mat-form-field appearance="outline" class="w-100 thin-select">
            <input matInput type="number" formControlName="commission" [placeholder]="'system.product.commissionPlaceholder' | translate" min="0" />
            <mat-error *ngIf="form.get('commission')?.hasError('required')">{{ 'system.product.commissionRequired' | translate }}</mat-error>
            <mat-error *ngIf="form.get('commission')?.hasError('min')">{{ 'system.product.commissionMin' | translate }}</mat-error>
        </mat-form-field>
    </div>

    <div class="col-md-12">
        <label class="d-block mb-12 fw-semibold">
            {{ 'system.product.validDate' | translate }} <span class="text-danger">*</span>
        </label>
        <div class="d-flex gap-2 align-items-center">
            <mat-form-field appearance="outline" class="w-100 thin-select">
                <input matInput [matDatepicker]="pickerFrom" formControlName="validFrom" readonly />
                <mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
                <mat-datepicker #pickerFrom></mat-datepicker>
                <mat-error *ngIf="form.get('validFrom')?.hasError('required')">{{ 'system.product.validFromRequired' | translate }}</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="w-100 thin-select">
                <input matInput [matDatepicker]="pickerTo" formControlName="validTo" readonly />
                <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
                <mat-datepicker #pickerTo></mat-datepicker>
                <mat-error *ngIf="form.get('validTo')?.hasError('required')">{{ 'system.product.validToRequired' | translate }}</mat-error>
            </mat-form-field>
        </div>
    </div>
</div>
<div class="drawer-footer">
    <button mat-flat-button color="primary" class="btn-primary-flat" (click)="onSubmit()"
        [disabled]="isSubmit" [ngClass]="{'btn-disabled': isSubmit}">
        <mat-icon>save</mat-icon>
        {{ 'common.save' | translate }}
    </button>
    <button mat-flat-button color="" class="btn-primary-flat" (click)="onCloseDrawer()">
        <mat-icon>close</mat-icon>
        {{ 'common.close' | translate }}
    </button>
</div>

