.single-stats-box {
    .icon {
        background: var(--heraBlueColor);
        transition: var(--transition);
        color: var(--whiteColor);
        border-radius: 5px;
        text-align: center;
        position: relative;
        font-size: 35px;
        height: 60px;
        width: 60px;

        i {
            left: 0;
            right: 0;
            top: 50%;
            line-height: 1;
            margin-top: 1px;
            position: absolute;
            transform: translateY(-50%);
        }
    }
    .title {
        margin: {
            left: 15px;
            top: -3px;
        };
        span {
            margin-top: 5px;
        }
        h3 {
            font: {
                size: 24px;
                family: var(--fontFamily) !important;
            };
        }
    }
    &:hover {
        .icon {
            color: var(--whiteColor);
            background-color: var(--aareRiverColor);
        }
    }
}
.kanban-item {
    margin-bottom: 15px;
    display: flex;
    align-items: start;
    justify-content: start;
    gap: 10px;
    .image {
        width: 70px;
        height: 70px;
        border-radius: 10px;
        overflow: hidden;
        object-fit: cover;
        img {
            width: 100%;
            height: 100%;
        }
    }
    h5 {
        font: {
            size: 16px;
            family: var(--fontFamily) !important;
        };
    }
    .minus-margin {
        margin: -10px 0 0 -10px;
    }
    .dot-btn {
        top: -2px;
        width: auto;
        cursor: pointer;
        line-height: .01;
        max-width: unset;
        min-height: unset;
        max-height: unset;
        padding: 0 !important;
        height: auto !important;
        font-size: 19px !important;
        min-width: unset !important;
        color: var(--paragraphColor);
        transition: var(--transition);
        
        &:hover {
            color: var(--heraBlueColor);
        }
    }
    .images {
        img {
            margin-left: -5px;
            border: 2px solid var(--whiteColor);

            &:first-child {
                margin-left: 0;
            }
        }
        div {
            width: 25px;
            height: 25px;
            font-size: 12px;
            color: #00B69B;
            line-height: 25px;
            background: rgba(0, 182, 155, 0.1);
        }
    }
    &:last-child {
        margin-bottom: 0;
    }
}
.component-rtl-enabled {
    .single-stats-box {
        .title {
            margin: {
                right: 15px;
                left: 0;
            };
        }
    }
    .kanban-item {
        .minus-margin {
            margin: {
                left: 10px;
                right: -10px;
            };
        }
        .images {
            img {
                margin: {
                    left: 0;
                    right: -5px;
                };
                &:first-child {
                    margin: {
                        left: -5px;
                        right: 0;
                    };
                }
            }
        }
    }
}