@use "../reset-password/reset-password.component" as *;

// Override max-width for forgot-password
.tagus-form {
    width: 1250px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .title {
        text-align: center;

        .d-flex {
            justify-content: center;
        }
    }
}

::ng-deep {
    .mat-form-field-wrapper {
        padding-bottom: 0 !important;
    }

    .mat-mdc-form-field-error-wrapper {
        margin-top: -15px !important;
        position: static !important;
    }
}