@use "../reset-password/reset-password.component" as *;

// Override max-width for forgot-password
.tagus-form {
    width: 1250px;
    

    .title {
        text-align: center;

        .d-flex {
            justify-content: center;
        }
    }
}