.input-dialog-container {
  width: min(80vw, 500px);
  border-radius: 16px;
  background: white;
  padding: 0;
}

mat-dialog-content {
  min-height: 120px;
}

mat-form-field {
  width: 100%;
}

.w-100 {
  width: 100%;
}

.mb-3 {
  margin-bottom: 1rem;
}

