@import url('../../../styles/page-create-update.scss');

.content-editor {
    height: 100vh;
    // border: 1px solid #dfdbd9 !important;
    // border-radius: 18px;
}

:host ::ng-deep .content-editor .ql-toolbar {
    border: 1px solid #dfdbd9 !important;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
}

:host ::ng-deep .content-editor .ql-container {
    border: 1px solid #dfdbd9 !important;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
    .ql-editor {
        // height: calc(100% - 8px);
    }

    .ql-editor::-webkit-scrollbar {
        width: 8px;
    }
    
    .ql-editor::-webkit-scrollbar-track {
        background: #f1f1f1;
        border-radius: 8px;
        border-end-end-radius: 18px;
    }
    
    .ql-editor::-webkit-scrollbar-thumb {
        cursor: alias;
        background: #999;
        border-radius: 8px;
    }
    
    .ql-editor::-webkit-scrollbar-thumb:hover {
        cursor: pointer;
        background: #666;
      }
}

.form-field-error-message {
    color: var(--mat-sys-error);
    font-size: 12px;
    text-align: left;
    font-weight: 400;
    line-height: 16px;
    transition: all .3s ease-in-out;
    opacity: 0;
}

.form-field-error-message.visible {
    opacity: 1;
}