<div class="create-update-container">
    <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
    <!-- Header -->
    <div class="header mb-2 d-flex align-items-center justify-content-between">
      <div class="d-flex align-items-center">
        <div>
          <h2 class="title">{{ 'system.document.sendMail' | translate }}</h2>
        </div>
      </div>
      <button mat-icon-button (click)="onCancel()" class="close-button">
        <mat-icon>close</mat-icon>
      </button>
    </div>

    <!-- Form Content -->
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="stats-card mb-4 body">
            <div class="app-form">
                <div class="row">
                    <div class="col-md-6">
                        <label class="d-block mb-12 fw-semibold">
                            {{ 'system.user.roles' | translate }} <span class="text-danger">*</span>
                        </label>
                        <mat-form-field appearance="outline" class="w-100 thin-select">
                            <input matInput type="email" formControlName="email" [placeholder]="'system.user.emailPlaceholder' | translate" />
                            <mat-error *ngIf="form.get('email')?.hasError('required')">{{ 'system.user.emailRequired' | translate }}</mat-error>
                            <mat-error *ngIf="form.get('email')?.hasError('email')">{{ 'system.user.emailInvalid' | translate }}</mat-error>
                            <mat-error *ngIf="form.get('email')?.hasError('maxlength')">{{ 'system.user.emailMaxLength' | translate }}</mat-error>
                        </mat-form-field>
                    </div>

                    <div class="col-md-6">
                        <label class="d-block mb-12 fw-semibold"> {{ 'system.document.language' | translate }} <span class="text-danger">*</span> </label>
                        <mat-form-field appearance="outline" class="w-100 thin-select">
                            <mat-select [formControlName]="'language'" [placeholder]="'system.document.languagePlaceholder' | translate">
                                <mat-option *ngFor="let language of languageOptions" [value]="language.value">
                                    {{ language.label }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="col-md-12">
                        <label class="d-block mb-12 fw-semibold"> {{ 'system.document.content' | translate }} <span class="text-danger">*</span> </label>
                        <mat-form-field appearance="outline" class="w-100 gray_border">
                            <textarea matInput formControlName="content" [placeholder]="'system.document.contentPlaceholder' | translate" rows="6"></textarea>
                            <mat-error *ngIf="form.get('content')?.hasError('required')">{{ 'system.document.contentRequired' | translate }}</mat-error>
                            <mat-error *ngIf="form.get('content')?.hasError('maxlength')">{{ 'system.document.contentMaxLength' | translate }}</mat-error>
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </div>

        <!-- Action Buttons -->
        <div class="d-flex gap-3 justify-content-end footer">
            <button mat-flat-button type="button" class="btn-primary-flat btn-cancel" (click)="onCancel()">
              {{ 'common.cancel' | translate }}
            </button>
            <button 
              type="submit" 
              mat-flat-button  
              color="primary" 
              class="btn-primary-flat"
                [disabled]=" isSubmitting"
                [ngClass]="{
                  'btn-disabled': isSubmitting,
              }"
              [class.loading]="isSubmitting">
              <mat-icon *ngIf="!isSubmitting">send</mat-icon>
              <mat-icon *ngIf="isSubmitting" class="spin">refresh</mat-icon>
              {{ 'system.document.sendMail' | translate }}
            </button>
          </div>
    </form>
</div>